@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #555;
}

nav a:hover {
  color: #f15d51;
}

/* HERO */
.hero-img img {
  width: 100%;
}

.mobile-img {
  display: none;
}

.hero-content {
  display: flex;
  margin-top: 20px;
  gap: 40px;
}

.main-text {
  font-size: 48px;
  font-weight: 800;
}

/* READ MORE */
.read-more {
  margin-top: 20px;
  padding: 12px 30px;
  background: #f15d51;
  color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

.read-more:hover {
  background: black;
}

/* RIGHT BLOCK */
.right-block {
  background: #00001a;
  color: white;
  padding: 20px;
  margin-top: 40px;
}

.right-block h3:hover {
  color: #e9ab53;
  cursor: pointer;
}

/* BOTTOM CARDS */
.second-section {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card h3:hover {
  color: #f15d51;
  cursor: pointer;
}

/* FOOTER */
footer {
  margin-top: 40px;
  text-align: center;
}

/* MOBILE */
.menu-button {
  display: none;
}

#menu-close {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

/* MOBILE VIEW */
@media (max-width: 768px) {
  nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background: white;
    padding: 20px;
    transition: 0.3s;
  }

  nav.open {
    right: 0;
  }

  #menu-close {
    display: block;
  }

  nav ul {
    flex-direction: column;
    margin-top: 40px;
  }

  .menu-button {
    display: block;
  }

  .desktop-img {
    display: none;
  }

  .mobile-img {
    display: block;
  }

  .hero-content {
    flex-direction: column;
  }

  .second-section {
    flex-direction: column;
  }
}
